<hr/>
<p>Running the <a href="http://getgrav.org">Grav CMS</a> using the <a href="http://hypertext.artofthesmart.com">Hypertext theme</a>.</p>
{% block bottom %}
{% if page.header.allowJS == 'enabled' or 
         (page.header.allowJS == 'default' and config.themes.hypertext.allowJS == '1') %}
{{ assets.js('bottom')|raw }}
{% endif %}

{% if page.header.allowCSS == 'enabled' or 
         (page.header.allowCSS == 'default' and config.themes.hypertext.allowCSS == '1') %}
{{ assets.css('bottom')|raw }}
{% endif %}
{% endblock %}
