{% set collection = page.collection()|length > 0 ? page.collection() : page.children.visible %}
{% set child_style = page.header.render.children.style|default('summary') %}

{# ------------------------------------------------------------------------ #}

{% if collection|length > 0 %}
  {% set collection = collection.order(header.content.order.by|default('date'), 
                                       header.content.order.dir|default('desc')) %}
  
  {% if child_style == 'grid' %}
    <table>
      {% for child in collection %}
        {% include 'partials/item/grid.html.twig' with {'page':child, parent:page} %}
      {% endfor %}
    </table>
  {% elseif child_style == 'table' %}
    <table>
      {% for child in collection %}
        {% include 'partials/item/table.html.twig' with {'page':child, parent:page} %}
      {% endfor %}
    </table>
  {% elseif child_style == 'list' %}
    <ol>
      {% for child in collection %}
        {% include 'partials/item/list.html.twig' with {'page':child, parent:page} %}
      {% endfor %}
    </ol>
  {% else %} {# Summary, which is also the default #}
    {% for child in collection %}
      {% include 'partials/item/summary.html.twig' with {'page':child, parent:page} %}
    {% endfor %}
  {% endif %}

  {% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/page/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
{% endif %}