{% set collection = page.collection()|length > 0 ? page.collection() : page.children.visible %}
{% if collection|length > 0 %}
  {% set collection = collection.order(header.content.order.by|default('date'), 
                                       header.content.order.dir|default('desc')) %}

  {% for child in collection %}
    {% if html5 %}
      <section class="snippet{% if child.taxonomy.category %}{% for cat in child.taxonomy.category %} cat_{{ cat|hyphenize }}{% endfor %}{% endif %}">
    {% else %}
      <div class="snippet{% if child.taxonomy.category %}{% for cat in child.taxonomy.category %} cat_{{ cat|hyphenize }}{% endfor %}{% endif %}">
    {% endif %}

    {% include 'partials/item/'~page.header.render.child_style|default('summary')~'.html.twig' with {'page':child, parent:page} %}
    
    {{ html5 ? '</section>' : '</div>' }}
  {% endfor %}
    
  {% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
{% endif %}