{% set collection = page.collection()|length > 0 ? page.collection() : page.children.visible %}
{% set child_style = page.header.render.children.style|default('summary') %}

{# ------------------------------------------------------------------------ #}

{% if collection|length > 0 %}
  {% set collection = collection.order(header.content.order.by|default('date'), 
                                       header.content.order.dir|default('desc')) %}
  
  {% if child_style == 'grid' %}
  
  {# GRID #}
  <table>
    {% for child in collection %}
      {% if loop.index % 2 == 0 %}
        <tr>
        {% include 'partials/item/grid.html.twig' with {'page':child, parent:page} %}
        {{ loop.last ? '<td></td></tr>' : '' }} {# Close the row if this is the last item. #}
      {% else %}
        {% include 'partials/item/grid.html.twig' with {'page':child, parent:page} %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>

  {% elseif child_style == 'table' %}
  
  {# TABLE #}
  <table>
    {{ html5 ? '<thead>' : ''}}<tr>
      <td width="40%">Title</td>
      <td width="20%">Categories</td>
      <td width="20%">Last Edited</td>
    {{ html5 ? '</thead>' : ''}}</tr>
    {% for child in collection %}
      {% include 'partials/item/table.html.twig' with {'page':child, parent:page} %}
    {% endfor %}
    
  </table>

  {% elseif child_style == 'list' %}

  {# LIST #}
  <ol>
    {% for child in collection %}
      {% include 'partials/item/list.html.twig' with {'page':child, parent:page, level:1} %}
    {% endfor %}
  </ol>

  {% else %}

  {# SUMMARY #}
    {% for child in collection %}
      {% include 'partials/item/summary.html.twig' with {'page':child, parent:page} %}
    {% endfor %}

  {% endif %}

  {% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/page/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
{% endif %}