{# If this isn't a top-level page, it has siblings under a `collection` page type. #}
{# Render the next/prev buttons, unless suppressed. TODO: Build in suppression option. #}
{% if not page.parent.root() %}
  <span class="pagination">
  {% if not page.isLast %}
    <a href="{{ page.prevSibling.url }}">&#xab; {{ structure.prevWord }}</a>
  {% endif %}
  {% if not page.isFirst %}
    <a href="{{ page.nextSibling.url }}">{{ structure.nextWord }} &raquo;</a>
  {% endif %}
  </span>
{% endif %}